<div class="quick-buy-notification">
  <span class="status-wrapper">
    <span class="status">
      <figure class="status-icon">
        <img src="./public/images/loading.svg" alt="Loading" class="load" />
        <img
          src="./public/images/check-mark-round.svg"
          alt="Success"
          class="success"
        />
      </figure>

      <span class="status-message">Quick Buy Pending</span>
    </span>
    <span class="close-icon-wrapper">
      <figure>
        <image
          src="./public/images/close-icon.svg"
          alt="Close"
          class="close-icon"
        ></image>
      </figure>
    </span>
  </span>
  <span class="message">
    Swapping 10
    <span class="xrp-logo-wrapper">
      <image
        src="./public/images/xrp-logo.svg"
        alt="XRP-logo"
        class="table-xrp-logo"
      ></image>
    </span>

    for 0000 TOKEN</span
  >
</div>
