<section class="watchlist-bar">
  <div class="container">
    <div class="watchlist-bar-contents-wrapper">
      <div class="icon-switch-wrapper">
        <button class="switch-btn star-btn">
          <img src="./public/images/star-icon.svg" alt="Star-icon" class="" />
        </button>

        <button class="switch-btn wallet-btn active">
          <img
            src="./public/images/wallet-icon.svg"
            alt="Wallet-icon"
            class=""
          />
        </button>
      </div>

      <div class="watchlist-items-wrapper watchlist-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>

          <div class="swiper-slide watchlist-item">
            <div class="watchlist-item-content">
              <figure class="token-icon">
                <img src="./public/images/token-icon.svg" alt="Token-icon" />
              </figure>
              <p class="token-name">Token</p>
              <p class="token-price">$00.00K</p>
              <p class="token-increment">+000.0%</p>
            </div>
            <figure class="close-icon-wrapper">
              <img
                class="close-icon"
                src="./public/images/close-icon-red.svg"
                alt="Close-icon"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
