/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Root Variables */
:root {
  --fontInter: "Inter", serif;
  --bg-primary: #17171f;
  --bg-secondary: #1e1f2a;
  --text-primary: #ffffff;
  --text-secondary: #d0deff;
  --text-neutral: #f3f3f3;
  --text-neutral-tertiary: #cdcdcd;
  --border-primary: #2f303e;
  --border-secondary: #3e4051;
  --color-darkSky: #6f93fe;
  --white-70p: rgba(255, 255, 255, 0.7);
  --white-40p: rgba(255, 255, 255, 0.4);
  --white-2p: rgba(255, 255, 255, 0.02);
  --text-positive: #aff4c6;
  --text-danger: #fcb3ad;
  --bg-positive: #008043;
  --bg-danger: #f03330;
  --border-positive: #14ae5c;
  --border-danger: #ff7d6f;
  --brand: #456eeb;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--fontInter);
  background: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Reset CSS */

/* Global styles */

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

figure {
  display: flex;
}

body {
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  color: var(--color-darkSky);
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-darkSky);
  border-radius: 8px;
}

/* Global styles */

/* Navbar CSS starts here */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  border-bottom: 0.5px solid var(--border-primary);

  .logo-wrapper {
    display: flex;

    .logo {
      width: 48px;
      height: auto;
    }
  }

  .nav-items-wrapper {
    max-width: 1420px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
  }

  .nav-menu-items-wrapper {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 4px 12px;
      color: var(--text-neutral-tertiary);
      font-size: 16px;
      word-break: keep-all;
    }

    .nav-link.active {
      color: var(--text-neutral);
      border-bottom: 1px solid var(--text-neutral);
    }
  }

  .search-box {
    display: flex;
    flex-grow: 1;
    position: relative;
    border-radius: 9999px;
    overflow: hidden;

    .search-input-box {
      padding: 12px 48px 12px 16px;
      border-radius: 9999px;
      width: 100%;
      border: 1px solid var(--border-primary);
      background: var(--bg-primary);
      outline: none;
      font-size: 16px;
      color: var(--white-40p);
    }

    .search-button {
      background: transparent;
      border: none;
      outline: none;
      position: absolute;
      top: 50%;
      right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 16px;
      transform: translateY(-50%);
      cursor: pointer;
      height: 100%;
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
    }
  }

  .account-link p {
    font-size: 16px;
    color: #f3f3f3;
  }
}

@media (max-width: 1420px) {
  .navbar {
    padding: 16px;
  }
}

@media (max-width: 1200px) {
  .large-screen-nav {
    display: none;
  }
}

@media (max-width: 1240px) {
  .nav-items-wrapper {
    gap: 16px !important;
  }
}

/* small screen nav start here */
.small-nav {
  width: 100%;
  height: 64px;
}

.sm-nav-main {
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--border-primary);
}

.sm-logo-part {
  display: flex;
  align-items: center;
  gap: 24px;
}

.portfolio-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary);
}

.search-and-berger {
  display: flex;
  align-items: center;
  gap: 24px;
}

.berger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* menu small screen */

/* Sidebar Overlay */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* Sidebar Menu */
.sidebar-menu {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background: var(--bg-secondary);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 999;
}

/* Close Button */
.close-btn {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* Sidebar Active */
.sidebar-menu.active {
  left: 0;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Sidebar Items */
.sidebar-menu ul {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar-menu ul li {
  padding: 10px 15px;
  color: var(--text-primary);
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.sidebar-menu ul li:hover {
  border: 1px solid var(--white-70p);
}

.account-sm-menu {
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: center;
  border: 1px solid var(--white-70p);
  padding: 8px;
  gap: 8px;
  justify-content: center;
  border-radius: 12px;
}

.account-sm-menu p {
  color: var(--text-primary);
}

@media (min-width: 1201px) {
  .small-screen-nav {
    display: none;
  }
}

/* Navbar CSS ends here */

/* Portfolio Header CSS starts here */

.portfolio-header-content-wrapper {
  padding: 42px 0px;

  .name-wallet {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .user-name {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--text-primary);
  }

  .wallets {
    font-size: 16px;
    color: var(--text-primary);
  }
}

.balance-changes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 50px;

  .multi-wallet-mobile {
    display: none;
  }

  .balance {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--text-primary);
  }

  .changes {
    font-size: 16px;
    color: var(--white-40p);

    .percentage-change {
      color: var(--text-primary);
    }
  }
}

@media (max-width: 1200px) {
  .portfolio-header-content-wrapper {
    padding: 16px 0;
  }
}

@media (max-width: 1420px) {
  section:not(.table-section) {
    padding: 0 12px;
  }

  .table-section {
    tr {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }

  .balance {
    font-size: 20px;
  }

  .balance-changes {
    padding: 0 !important;
  }
}

@media (max-width: 1200px) {
  .multi-wallet-mobile {
    display: inline-block !important;
    font-size: 14px;
    line-height: 1.4em;
    color: var(--text-neutral-tertiary);
  }
}

@media (max-width: 768px) {
  .name-wallets {
    .user-name {
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;
    }

    .wallets {
      font-size: 14px;
    }
  }
}

/* Portfolio Header CSS ends here */

/* Portfolio Table Controls CSS starts here */

.table-controls-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;

  .controls {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    /* Filters Button */

    .filters-button {
      user-select: none;

      img {
        width: 20px;
        aspect-ratio: 1;
      }

      display: flex;
      gap: 8px;
      padding: 10px 8px;
      background: var(--bg-secondary);
      border: 1px solid var(--border-primary);
      border-radius: 10px;
      font-size: 16px;
      line-height: 1em;
      color: var(--text-primary);
      cursor: pointer;
      max-height: 40px;
    }

    /* Filters Button */

    /* Filter Inner buttons */

    .filter-sidebar-overlay {
      @media (max-width: 767px) {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      .filter-sidebar {
        position: relative;
        display: flex;
        gap: 16px;

        @media (max-width: 767px) {
          flex-direction: column;
          padding: 64px 16px;
          top: 0;
          left: -75vw;
          /* Sidebar off-screen */
          width: 75vw;
          height: 100vh;
          background: var(--bg-secondary);
          box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
          transition: left 0.3s ease-in-out;

          .wallet-dropdown {
            max-width: 155px;
            width: 100%;

            .dropdown-options {
              max-width: calc(100vw - 32px);
              overflow-x: scroll;

              &::-webkit-scrollbar {
                height: 4px !important;
              }

              input[type="checkbox"] {
                flex: none;
              }
            }
          }
        }

        .close-sidebar-btn {
          position: absolute;
          right: 24px;
          top: 24px;
          cursor: pointer;
          border: 1px solid var(--border-primary);
          height: 36px;
          width: 36px;
          border-radius: 8px;
          display: none;
          align-items: center;
          justify-content: center;
          user-select: none;

          @media (max-width: 767px) {
            display: flex;
          }
        }
      }

      .filter-sidebar.active {
        left: 0;
      }
    }

    .filter-sidebar-overlay.active {
      opacity: 1;
      visibility: visible;
    }

    /* Filter Inner buttons */

    .control-button {
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6.5px 12px;
      background-color: var(--bg-secondary);
      border-radius: 10px;
      border: 1px solid var(--border-secondary);
      font-size: 16px;
      color: var(--text-primary);
      cursor: pointer;
      gap: 4px;

      &.add-liquidity-button {
        background-color: var(--brand);
        max-height: 32px;
        outline: none;
      }

      .control-button-left-icon {
        height: 16px;
        width: auto;
        margin-right: 8px;
      }
    }

    .add-liquidity-button.add-liquidity-button-mobile {
      display: flex;
      padding: 10px 8px;
      font-size: 16px;
      line-height: 1em;
      max-height: 40px;
      height: 40px !important;
    }

    @media (max-width: 767px) {
      .filters-button {
        display: flex;
      }

      .add-liquidity-button {
        display: none;
      }

      .add-liquidity-button.add-liquidity-button-mobile {
        display: flex;
      }
    }

    @media (min-width: 768px) {
      .filters-button {
        display: none;
      }

      .add-liquidity-button.add-liquidity-button-mobile {
        display: none;
      }

      .add-liquidity-button {
        display: flex;
      }
    }

    /* Customize Dropdown Button */

    .customize-dropdown {
      position: relative;
      max-width: 155px;
      width: 100%;
      border: 1px solid var(--border-secondary);
      border-radius: 12px;
      padding: 6px 12px;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      background: var(--bg-secondary);
      font-size: 14px;
      color: white;

      .arrow-icon {
        transition: transform 0.3s ease;
        display: flex;
      }

      .settings-icon {
        display: flex;

        img {
          width: 18px;
          aspect-ratio: 1;
        }
      }

      .arrow-icon.open {
        /* transform: rotate(180deg); */
      }

      .dropdown-options {
        display: none;
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        width: auto;
        border: 1px solid var(--border-secondary);
        border-radius: 12px;
        background: var(--bg-secondary);
        flex-direction: column;
      }

      .dropdown-options.show {
        display: flex;
      }

      .option {
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .wallet-name-address {
        display: flex;
        flex-direction: column;
      }

      .wallet-address {
        color: var(--white-70p);
      }

      .option input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #1f3ccd;
        border-radius: 4px;
        position: relative;
        margin-right: 5px;
        cursor: pointer;
      }

      .option input[type="checkbox"]:checked {
        background-color: var(--brand);
        border: none;
      }

      .option input[type="checkbox"]:checked::after {
        content: "";
        background: url("/public/images/check-mark.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 12px;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    /* Customize Dropdown Button */

    /* Wallets Dropdown button */

    .wallet-dropdown {
      position: relative;
      max-width: 131px;
      width: 100%;
      border: 1px solid var(--border-secondary);
      border-radius: 12px;
      padding: 6px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: var(--bg-secondary);
      font-size: 14px;
      color: var(--text-primary);
      gap: 8px;

      .arrow-icon {
        transition: transform 0.3s ease;
        display: flex;
      }

      .wallet-icon {
        display: flex;

        img {
          width: 18px;
          aspect-ratio: 1;
        }
      }

      .arrow-icon.open {
        /* transform: rotate(180deg); */
      }

      .dropdown-options {
        display: none;
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        width: auto;
        border: 1px solid var(--border-secondary);
        border-radius: 12px;
        background: var(--bg-secondary);
        flex-direction: column;
      }

      .dropdown-options.show {
        display: flex;
      }

      .option {
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .wallet-name-address {
        display: flex;
        flex-direction: column;
      }

      .wallet-address {
        color: var(--white-70p);
      }

      .option input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #1f3ccd;
        border-radius: 4px;
        position: relative;
        margin-right: 5px;
        cursor: pointer;
      }

      .option input[type="checkbox"]:checked {
        background-color: var(--brand);
        border: none;
      }

      .option input[type="checkbox"]:checked::after {
        content: "";
        background: url("/public/images/check-mark.svg");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 12px;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      #selected-option {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1;
      }
    }

    /* Wallets Dropdown button */
  }

  .table-search {
    display: flex;
    align-items: center;
    max-width: 240px;
    width: 100%;
    position: relative;
    border-radius: 9999px;
    overflow: hidden;

    .search-input-box {
      padding: 12px 40px 12px 16px;
      border-radius: 9999px;
      width: 100%;
      border: 1px solid var(--border-primary);
      background: var(--bg-primary);
      outline: none;
      font-size: 16px;
      color: var(--white-40p);
    }

    .search-button {
      background: transparent;
      border: none;
      outline: none;
      position: absolute;
      top: 50%;
      right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 16px 0px 8px;
      transform: translateY(-50%);
      cursor: pointer;
      height: 100%;
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
    }
  }
}

@media (max-width: 692px) {
  .table-controls {
    .table-controls-content-wrapper {
      gap: 8px;
    }

    .controls {
      gap: 8px !important;
    }
  }
}

/* Portfolio Table Controls CSS ends here */

/* Table section CSS starts here */

.tow-table-in-one {
  height: calc(100vh - 252px);
  overflow-y: auto;
  /* @media (max-width: 1420px) {
    height: calc(100vh - 335px);

    .my-pools-table-two {
      max-height: calc(100vh - 595px);
      height: 100% !important;
    }
  }

  @media (max-width: 1420px) {
    height: calc(100vh - 270px);

    .my-pools-table-two {
      max-height: calc(100vh - 530px);
      height: 100% !important;
    }
  } */
}

.my-pools-main {
  padding: 20px 0px;
  border-top: 1px solid #3f4258;
  border-bottom: 1px solid #3f4258;
}

.best-pools-main {
  padding: 20px 0px;
}

.table-section-title {
  padding-top: 8px;
  padding-bottom: 14px;
  font-size: 20px;
  color: #f5f5f5;
}

/* .my-pools-table {
  height: 165px;
  overflow-y: auto;
} */

/* .my-pools-table-two {
  max-height: calc(100vh - 680px);
  overflow-y: auto;
} */

.my-pools-table-two .col-span {
  padding: 12px 0px;
}

.table-section {
  .table-scroll {
    width: 100%;
    /* overflow-x: auto; */
  }

  .table-scroll::-webkit-scrollbar {
    display: none;
  }

  .table-scroll table {
    min-width: 900px;
    width: 100%;
    border-collapse: collapse;
  }

  .table-content-wrapper {
    /* overflow-x: auto !important; */
  }

  table {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    tr:hover:not(:has(th)) {
      background: var(--bg-secondary) !important;
    }
  }

  .table-heading {
    display: grid;
    padding: 16px calc((100vw - 1420px) / 2);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    th {
      text-align: start;
      font-size: 14px;
      color: var(--white-70p);
      font-weight: 300;
      background: transparent;

      &:first-child {
        padding-left: 16px;
      }

      &:last-child {
        text-align: end;
      }
    }
  }

  td {
    vertical-align: text-top;
    color: var(--text-primary);
    font-size: 16px;
  }

  .col-span {
    column-span: 6;
  }

  thead tr {
    border-top: 0.5px solid var(--border-primary);
  }

  tr {
    border-bottom: 0.5px solid var(--border-primary);
    padding: 7px calc((100% - 1420px) / 2);
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* align-items: center; */

    td {
      .action-cell {
        text-align: end;
      }

      &:last-child {
        vertical-align: middle;
      }
    }

    &:nth-child(odd) {
      background: transparent;
    }

    &:nth-child(even) {
      background: var(--white-2p);
    }
  }

  tbody>tr:last-child {
    border-bottom: 0;
  }

  .token-cell {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary);
  }

  .token-icon {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }

  .row-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .multi-wallet {
    font-size: 16px;
    color: var(--color-darkSky);
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;

    .down-arrow-icon {
      width: 16px;
      aspect-ratio: 1;
      transition: transform 0.3s ease;
    }

    .down-arrow-icon.rotated {
      /* transform: rotate(180deg); */
    }
  }

  .table-xrp-token-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--text-primary);

    span {
      &:last-child {
        color: var(--text-secondary);
        font-size: 14px;
      }
    }
  }

  .sub-wallets-wrapper {
    display: none;
    margin-top: 10px;
  }

  .sub-wallets-wrapper.visible {
    display: block;
  }

  .sub-wallet {
    padding: 7px 0;
  }

  .trade-button {
    color: var(--color-darkSky);
    font-size: 16px;
    background: none;
    border: 0.5px solid transparent;
    border-radius: 10px;
    padding: 6px 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;

    &:hover {
      border-color: var(--border-primary);
    }
  }

  .action-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  .action-menu-icon {
    cursor: pointer;
    display: flex;
    position: relative;
  }

  .lp-action-menu-wrapper {
    position: relative;
  }

  .action-menu {
    position: absolute;
    top: 30px;
    right: 4px;
    border: 0.5px solid var(--border-primary);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 0;
    width: 165px;
    overflow: hidden;
    display: none;
    z-index: 999;
  }

  .action-menu button {
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--text-primary);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    transition: background 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
  }

  .action-menu button:hover {
    background: rgba(111, 147, 254, 0.2);
  }

  .wallet-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .wallet-address {
    color: var(--text-secondary);
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .table-scroll {
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-scroll {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Table section CSS ends here */