/* Hero section starts here */

.hero-section {
  padding: 12px 32px;

  .hero-contents-wrapper {
    display: flex;
    gap: 16px;

    .hero-image {
      height: 60px;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .hero-texts-wrapper {
      .hero-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2em;
        color: var(--textDefaultPrimary);
      }

      .hero-desc {
        font-size: 16px;
        line-height: 1.2em;
        color: var(--textDefaultPrimary);
      }
    }
  }
  @media (max-width: 1024px) {
    padding: 12px 24px;
  }

  @media (max-width: 767px) {
    padding: 12px 16px;

    .hero-title {
      font-style: italic;
    }

    .hero-image {
      display: none;
    }

    .hero-desc {
      font-size: 12px !important;
    }
  }
}

/* Hero section eds here */

/* Table Controls section starts here */

.table-controls {
  padding: 16px 32px;

  .table-controls-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .controls {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;

      .customize-btn {
        height: 32px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 8px;
        border-radius: 10px;
        background: var(--bgDefaultPrimary);
        border: 1px solid var(--borderDefaultPrimary);
        line-height: 1.2em;
        font-size: 16px;
        color: var(--textDefaultPrimary);
        cursor: pointer;
        transition: all 0.3s ease;

        .customize-icon {
          width: 16px;
        }

        &:hover {
          background: var(--bgDefaultPrimaryHov);
        }

        @media (max-width: 767px) {
          .customize-text {
            display: none;
          }
        }
      }

      .quick-buy-btn-wrapper {
        display: flex;
        gap: 6px;
        align-items: center;
        color: var(--textDefaultPrimary);
        font-size: 16px;
        line-height: 1.2em;

        .quick-buy-text {
          span {
            @media (max-width: 767px) {
              display: none;
            }
          }
        }

        .quick-buy-icon {
          height: 16px;
          aspect-ratio: 1/1;
        }

        .quick-buy-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 69px;
          padding: 4px 8px;
          border: 1px solid var(--borderDefaultPrimary);
          border-radius: 10px;
          background: transparent;
          color: inherit;
          flex: none;
          white-space: nowrap;
          outline: none;
          padding-right: 30px;
          background-color: var(--bgUtilitiesHighlight);
          background-image: url("../public/images/xrp-logo.svg");
          background-repeat: no-repeat;
          background-position: 80% center;
          background-size: 14px;

          &:focus {
            outline: none;
            padding-right: 0;
            background-image: none;
          }
        }
      }
    }

    .table-search-n-toggle-btn {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 16px;
      width: 100%;

      @media (max-width: 767px) {
        gap: 12px;
      }

      .table-toggle-switch {
        width: 44px;
        height: 18px;
        border-radius: 10px;
        background: transparent;
        border: 1px solid var(--borderDefaultSecondary);
        position: relative;
        cursor: pointer;
      }

      .table-toggle-switch * {
        transition: all 0.3s ease;
        user-select: none;
      }

      .table-toggle-switch .table-toggle-icon-wrapper {
        height: 26px;
        aspect-ratio: 1/1;
        background: var(--bgDefaultPrimaryHov);
        border: 1px solid var(--borderDefaultPrimary);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translate(calc(-5%), -50%);
      }

      .table-toggle-switch .table-toggle-icon-wrapper .dollar-icon {
        display: none;
      }

      .quick-buy-toggle-btn .quick-buy-icon-wrapper .xrp-icon {
        display: block;
      }

      .table-toggle-switch
        input[type="checkbox"]:checked
        ~ .table-toggle-icon-wrapper {
        transform: translate(calc(44px - 100%), -50%);
      }

      .table-toggle-switch
        input[type="checkbox"]:checked
        ~ .table-toggle-icon-wrapper
        .dollar-icon {
        display: block;
      }

      .table-toggle-switch
        input[type="checkbox"]:checked
        ~ .table-toggle-icon-wrapper
        .xrp-icon {
        display: none;
      }

      .table-search {
        display: flex;
        align-items: center;
        max-width: 206px;
        width: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 1;

        .search-input-box {
          padding: 6px 40px 6px 16px;
          border-radius: 10px;
          width: 100%;
          border: 1px solid var(--borderDefaultPrimary);
          background: var(--bgUtilitiesHighlight);
          outline: none;
          font-size: 16px;
          line-height: 1.2em;
          color: var(--textDefaultTertiary);
          height: 32px;

          @media (max-width: 767px) {
            display: none;
          }
        }

        .search-button {
          background: transparent;
          border: none;
          outline: none;
          position: absolute;
          top: 50%;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 16px 0px 8px;
          transform: translateY(-50%);
          cursor: pointer;
          height: 100%;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          @media (max-width: 767px) {
            position: relative;
            top: unset;
            right: unset;
            height: 32px;
            aspect-ratio: 1/1;
            transform: unset;
            padding: 0;
            background: var(--bgUtilitiesHighlight);
            border: 1px solid var(--borderDefaultPrimary);
            border-radius: 10px;
          }
        }

        @media (max-width: 767px) {
          width: fit-content;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 16px 24px;
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
}

/* Table Controls section ends here */

/* Table customize modal section start here */

.customize-modal {
  position: absolute;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1000;
}

.cust_mod_pop_con {
  background-color: var(--borderDefaultPrimary);
  width: 500px;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--fontInter);
  font-size: 16px;
  color: var(--textDefaultPrimary);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: 681px;

  @media (max-width: 768px) {
    width: 375px;
    height: 607px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (max-width: 420px) {
    width: 100vw;
    height: 90vh;
    border-radius: 16px 16px 0 0;
  }
}

.customize-modal-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.customize-modal.show {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    align-items: end;

    .modal_con_wrapper {
      width: 100%;
    }

    .cust_mod_pop_con {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.cus-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bgDefaultPrimaryHov);
  padding: 8px 24px;
}

.cust-modal-close-btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--borderDefaultPrimary);
  background: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: var(--borderDefaultPrimary);
  }
}

.cust-heading {
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 16px;
  color: var(--textDefaultPrimary);
}

.cust-btn-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cust-header-btns {
  grid-column: span 1;
  text-align: center;
  padding: 6px 0;
  color: var(--textDefaultTertiary);
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 0.5px solid var(--borderDefaultSecondary);
  user-select: none;

  &:hover {
    color: var(--textBrandDefault);
    border-bottom: 0.5px solid var(--borderBrandDefault);
  }
}

.cus-modal-header-active {
  color: var(--textBrandDefault) !important;
  border-bottom: 1px solid var(--borderBrandDefault);
}

.cust-modal-btns {
  margin: 0 24px;
  padding-top: 16px;
  padding-bottom: 24px;
  display: flex;
  gap: 16px;
  border-top: 1px solid var(--borderDefaultSecondary);
  margin-top: auto !important;

  & > :first-of-type {
    transition: all 0.3s ease;
    border: 1px solid var(--bgDefaultPrimaryHov);

    &:hover {
      background: transparent;
      border: 1px solid var(--borderDefaultSecondary);
    }
  }

  & > :last-of-type {
    transition: all 0.3s ease;
    border: 1px solid var(--bgBrandDefault);

    &:hover {
      background: var(--bgBrandSecondary) !important;
    }
  }

  @media (max-width: 420px) {
    margin: 0 12px;
  }
}

.cust-modal-btn {
  padding: 10px 0;
  background-color: var(--bgDefaultPrimaryHov);
  border: none;
  width: 100%;
  color: var(--textDefaultPrimary);
  border-radius: 12px;
  cursor: pointer;
}

.modal-contents-wrapper {
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .modal-content {
    display: none;
    margin: 16px 24px 24px 24px;
  }
}

.modal-content.active {
  display: block;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 16px 24px 0px 24px;
  }
}

.view-input-list-item {
  margin-bottom: 12px;
}

.cust-view-input {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;

  @media (max-width: 1024px) {
    padding: 7.5px 8px;
  }
}

.cust-view-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cust-svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cust-svg-wrapper {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: var(--bgDefaultPrimary);
  border: 1px solid var(--borderBrandTertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cust-svg-wrapper svg {
  display: none;
}

.cust-svg-wrapper svg path {
  stroke: #0e0f43;
}

.view-input-list-item .cust-view-input {
  @media (max-width: 1024px) {
    background-color: #434343;
    flex-direction: row-reverse;
  }
}

input[type="checkbox"]:checked + .cust-svg-wrapper {
  background: var(--bgBrandSecondary);
  border-color: none;
}

input[type="checkbox"]:checked + .cust-svg-wrapper svg {
  display: block;
}

.selected_message {
  color: var(--textDefaultTertiary);
}

.active {
  display: block;
}

.metrics-input-list-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
  font-family: var(--fontInter);
  font-weight: 400;
  font-size: 16px;
  color: var(--textDefaultPrimary);
}

.cust-metrics-input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.metrics-input {
  padding: 6px 8px;
  border: 1px solid var(--borderDefaultPrimary);
  border-radius: 4px;
  outline: none;
  background-color: var(--bgUtilitiesHighlight);
  border-radius: 10px;
  width: 100%;
  color: var(--textDefaultTertiary);
}

@media (max-width: 1024px) {
  .customize-modal {
    font-size: 14px;
  }

  .checkbox_inp {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;

    * {
      user-select: none;
    }
  }

  .audit_text_ico {
    display: none;
  }

  .cust-view-input-div {
    display: none;
  }

  .cust-svg-wrapper {
    border: none;
    background: none;
  }

  .cust-view-input:has(.view-input:checked) {
    background: var(--bgBrandSecondary);

    svg {
      path {
        stroke: #f3f3f3;
      }
    }
  }

  .checkbox_inp.audit {
    .cust-view-input:has(.view-input:checked) {
      background: var(--bgBrandSecondary);
    }

    .cust-view-input:has(.view-input:checked) .cust-view-input-div {
      display: flex;
    }
  }

  .cust-view-input:has(.view-input:checked) .cust-view-input-div {
    display: flex;
  }
}

.audit_text_ico {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;

  @media (max-width: 1024px) {
    display: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip span {
  display: none;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}

.tooltip:hover span {
  display: block;
}

/* Table customize modal section ends here */
/* Table Controls section ends here */

/* New Tokens Table section starts here*/

.new-tokens-table-section {
  height: calc(100vh - 300px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 600px) and (max-width: 1023px) {
    height: calc(100vh - 285px);
  }

  @media (max-width: 599px) {
    height: calc(100vh - 250px);
  }

  /* Table section CSS starts here */

  .main-table-section {
    height: calc(100vh - 360px);
    overflow-y: auto;

    @media (max-width: 390px) {
      height: calc(100vh - 430px);
    }
    @media (min-width: 391px) and (max-width: 420px) {
      height: calc(100vh - 395px);
    }
    @media (min-width: 421px) and (max-width: 599px) {
      height: calc(100vh - 395px);
    }
    @media (min-width: 600px) and (max-width: 767px) {
      height: calc(100vh - 402px);
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      height: calc(100vh - 361px);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .table-section {
    .table-scroll {
      width: 100%;
      padding: 0 32px;

      @media (max-width: 1024px) {
        padding: 0 24px;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
    }

    .table-scroll::-webkit-scrollbar {
      display: none;
    }

    .table-scroll .table {
      width: 100%;
      border-collapse: collapse;
    }

    .table {
      min-width: fit-content;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border: 0.5px solid var(--borderDefaultPrimary);
      border-radius: 10px;

      @media (max-width: 768px) {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }

      .table-row {
        transition: all 160ms ease-in-out;
        align-items: center;
        max-height: 60px;

        @media (max-width: 767px) {
          max-height: 50px;
        }
      }
      .table-row:hover {
        background: var(--bgUtilitiesHighlightBrand);
      }
    }

    .table-heading {
      display: grid;
      padding: 7.5px 16px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 80px;
      border-bottom: 0.5px solid var(--borderDefaultPrimary);
      gap: 16px;
      align-items: center;
      span {
        text-align: start;
        font-size: 14px;
        color: var(--textDefaultTertiary);
        font-weight: 300;
        background: transparent;

        &:last-child {
          text-align: end;
          display: flex;
          align-items: end;
          justify-content: center;
        }
      }
      .lg-title {
        @media (max-width: 767px) {
          display: none;
        }
      }

      .sm-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: center !important;

        @media (min-width: 768px) {
          display: none !important;
        }

        .buy-token-count {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
        }
        .xrp-logo-wrapper {
          display: inline-flex;
          .table-xrp-logo {
            width: 14px;
            opacity: 0.5;
          }
        }
      }
    }
    .table-row-wrapper {
      border-bottom: 0.5px solid var(--borderDefaultPrimary);

      &:nth-child(odd) {
        background: transparent;
      }

      &:nth-child(even) {
        background: var(--bgUtilitiesHighlight);
      }
    }

    .table-row {
      padding: 10px 16px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 80px;
      gap: 6px;
      height: 60px !important;

      @media (max-width: 767px) {
        height: 50px !important;
      }
    }

    .table-body > .table-row-wrapper:last-child {
      border-bottom: 0;
    }

    .token-cell {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      color: var(--textDefaultPrimary);
      cursor: pointer;

      @media (max-width: 592px) {
        min-width: 108px;
      }
      .token-name-n-time {
        display: flex;
        flex-direction: column;

        .token-time {
          font-size: 14px;
          color: var(--textOnBrandSecondary);
        }
      }
    }
    .market-cap-xrp {
      font-weight: 400;
      font-size: 16px;
    }
    .liquidity-xrp {
      font-weight: 400;
      font-size: 16px;
    }
    .vol-24h {
      font-weight: 400;
      font-size: 16px;
    }
    .buy-count {
      font-weight: 400;
      font-size: 16px;
    }
    .sell-count {
      font-weight: 400;
      font-size: 16px;
    }
    @media (max-width: 767px) {
      .token-cell {
        font-size: 14px;
      }
      .market-cap-xrp {
        font-size: 14px;
      }
      .liquidity-xrp {
        font-size: 14px;
      }
      .vol-24h {
        font-size: 14px;
      }
      .buy-count {
        font-size: 14px;
      }
      .sell-count {
        font-size: 14px;
      }
    }
    .token-icon-wrapper {
      position: relative;
      display: flex;

      .token-icon {
        width: 40px;
        height: 40px;
        aspect-ratio: 1;
        border-radius: 10px;
        object-fit: cover;

        @media (max-width: 767px) {
          width: 32px;
          height: 32px;
        }
      }

      .anti-snipe-n-check-wrapper {
        position: absolute;
        top: -2px;
        right: -4px;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .token-verify-icon {
          width: 12px;
          aspect-ratio: 1/1;
          border-radius: 999px;
        }
      }
    }

    .multi-wallet {
      font-size: 16px;
      color: var(--textBrandDefault);
      cursor: pointer;
      width: fit-content;
      display: flex;
      align-items: center;

      .down-arrow-icon {
        width: 16px;
        aspect-ratio: 1;
        transition: transform 0.3s ease;
      }
    }

    .table-xrp-token-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: var(--textDefaultPrimary);

      span {
        &:first-child {
          display: flex;
          gap: 4px;

          .table-xrp-logo {
            width: 14px;
            aspect-ratio: 1/1;
          }
        }
        &:only-child {
          color: var(--textDefaultPrimary);
          /* font-size: 16px; */
        }

        &:last-child:not(:only-child) {
          color: var(--textOnBrandSecondary);
          font-size: 14px;
        }
      }
    }

    .token-transactions-wrapper {
      display: flex;
      flex-direction: row;
      & > :first-child {
        border-right: 0.5px solid var(--borderDefaultPrimary);
        padding-right: 6px;

        .buy-count {
          color: var(--textPositiveDefault);
        }

        .buy-value {
          color: var(--textPositiveSecondary) !important;
          display: flex;
          align-items: center;
          gap: 6px;

          .table-xrp-logo {
            width: 14px;
            aspect-ratio: 1/1;
          }
        }
      }

      & > :last-child {
        padding-left: 6px;
        .sell-count {
          color: var(--textDangerDefault);
        }

        .sell-value {
          color: var(--textDangerSecondary) !important;
          display: flex;
          align-items: center;
          gap: 6px;

          .table-xrp-logo {
            width: 14px;
            aspect-ratio: 1/1;
          }
        }
      }

      .buy-token,
      .sell-token {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .audit-cell {
      display: flex;
      align-items: center;

      .audit-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding: 2px 4px;
        font-size: 12px !important;
        color: var(--textDefaultPrimary) !important;
        position: relative;
        cursor: pointer;

        .audit-icon {
          width: 16px;
          aspect-ratio: 1/1;
        }

        &:not(:last-of-type) {
          border-right: 0.5px solid var(--borderDefaultPrimary);
        }

        .audit-tooltip {
          display: none;
          position: absolute;
          bottom: 120%;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--bgDefaultPrimaryHov);
          color: var(--textDefaultPrimary) !important;
          text-align: center;
          padding: 6px 10px;
          border-radius: 5px;
          font-size: 12px !important;
          white-space: nowrap;
          z-index: 10;
          overflow: hidden;
          transition: all 0.3s ease;
        }

        &:hover {
          .audit-tooltip {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .quick-buy-action {
      color: var(--textDefaultPrimary);
      font-size: 16px;
      line-height: 1.2em;
      background: var(--bgBrandDefault);
      border: 0.5px solid var(--borderBrandDefault);
      border-radius: 10px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      transition: all 0.3s ease;
      cursor: pointer;
      outline: none;

      @media (max-width: 767px) {
        padding: 8px;
      }

      img {
        width: 16px;
        aspect-ratio: 1/1;
      }

      .zap-n-load-icon {
        display: flex;
        align-items: center;

        .load {
          display: none;
        }

        @media (max-width: 767px) {
          img {
            width: 24px;
            aspect-ratio: 1/1;
          }
        }
      }
      .quick-buy-token-count {
        display: flex;
        align-items: center;
        gap: 4px;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &:hover {
        background: var(--bgBrandHover);
      }

      &.pending {
        .zap {
          display: none;
        }
        .load {
          display: flex;
          animation: loading-rotate 0.5s linear infinite;
        }
        background: var(--bgBrandHover);
        border-color: var(--borderBrandDefault);
        pointer-events: none;
      }

      &.disabled {
        pointer-events: none;
        background: var(--bgDisabledDefault);
        border-color: var(--borderDisabledDefault);
        color: var(--textDisabledOnDisabled);
      }
    }

    .action-cell {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
    }

    .action-menu-icon {
      cursor: pointer;
      height: 26px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 1px solid var(--borderDefaultPrimary);
      background: var(--bgDefaultPrimaryHov);
      border-radius: 10px;
      transition: all 0.3s ease;

      img {
        rotate: 90deg;
      }

      &:hover {
        background: var(--bgDefaultSecondary);
        border-color: var(--borderDefaultSecondary);
      }
    }

    .action-menu-wrapper {
      position: relative;
    }

    .action-menu {
      position: absolute;
      top: 5px;
      right: 30px;
      border: 0.5px solid var(--borderDefaultPrimary);
      background: var(--bgDefaultSecondary);
      border-radius: 10px;
      padding: 0;
      width: 110px;
      overflow: hidden;
      display: none;
      z-index: 999;
    }

    .action-menu a {
      display: flex;
      justify-content: center;
      color: var(--textDefaultPrimary);
      padding: 8px 16px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
      transition: background 0.2s;
      cursor: pointer;
    }

    .action-menu a:hover {
      background: rgba(111, 147, 254, 0.2);
    }

    .wallet-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: var(--textDefaultPrimary);
    }

    .wallet-address {
      color: var(--textOnBrandSecondary);
      font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    .table-scroll {
      overflow-x: auto;
      white-space: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
    }

    .table-row,
    .table-heading {
      padding: 0 !important;
      grid-template-columns: 130px 80px 80px 80px 130px 105px 65px !important;
      gap: 8px !important;
      justify-content: space-between;

      > :first-child,
      > :last-child {
        position: sticky;
        height: 100%;
        background: var(--bgUtilitiesHighlight) !important;
        backdrop-filter: blur(100px);
      }
      > :first-child {
        left: 0;
        padding-left: 12px !important;
      }
      > :last-child {
        right: 0;
        padding-right: 12px !important;
      }
    }
    .table-row {
      > div {
        padding: 0 !important;
      }
    }
    .table-heading {
      > span {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 9px 0 !important;
      }
    }
  }

  /* Table section CSS ends here */
}

/* New Tokens Table section ends here*/
