/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Gotham Ultra";
  src: url(../public/fonts/gotham-ultra.otf);
}

/* Font */

@font-face {
  font-family: "FLInterCustom";
  src: url("../public/fonts/FLInterCustom.ttf") format("ttf");
}

/* Root Variables */
:root {
  --fontGothamUltra: "Gotham Ultra";
  --fontInter: "Inter", serif;

  /* Text Colors */
  --textDefaultPrimary: #f5f5f5;
  --textDefaultSecondary: rgba(255, 255, 255, 0.7);
  --textDefaultTertiary: rgba(255, 255, 255, 0.4);
  --textBrandDefault: #6f93fe;
  --textBrandSecondary: #456eeb;
  --textBrandTertiary: #1f3ccd;
  --textOnBrand: #0e0f43;
  --textOnBrandSecondary: #d0deff;
  --textPositiveDefault: #a8f0c0;
  --textPositiveSecondary: #85e0a3;
  --textPositiveOnPositive: #e3ffe7;
  --textPositiveOnPositiveTertiary: #e3ffe7;
  --textDefaultSecondary: #d9d9d9;
  --textDangerDefault: #fcb3ad;
  --textDangerSecondary: #ff7d6f;
  --textDangerOnDanger: #fee9e7;
  --textNeutralDefault: #f3f3f3;
  --textNeutralTertiary: #cdcdcd;
  --textDisabledDefault: #757575;
  --textDisabledOnDisabled: #b3b3b3;

  /* Background Colors */

  --bgBrandDefault: #365ed8;
  --bgBrandHover: #1f3ccd;
  --bgBrandSecondary: rgba(54, 94, 216, 0.8);
  --bgBrandSecondaryHover: rgba(54, 94, 216, 0.7);
  --bgDefaultPrimary: #13131b;
  --bgDefaultPrimaryHov: #181924;
  --bgDefaultSecondary: #242534;
  --bgDefaultSecondaryHov: #34374a;
  --bgAccentDefault: #14b8a6;
  --bgAccentTertiary: #115e59;
  --bgNeutralSecondary: #434343;
  --bgPositiveDefault: #008043;
  --bgPositiveHover: #02542d;
  --bgPositiveSecondary: #02542d;
  --bgPositiveSecondaryHover: #024023;
  --bgPositiveTertiary: #024023;
  --bgDangerDefault: #f03330;
  --bgDangerHover: #d21e1e;
  --bgDangerSecondary: #9c120f;
  --bgDangerSecondaryHover: #690807;
  --bgDisabledDefault: #34374a;
  --bgUtilitiesHighlight: rgba(255, 255, 255, 0.02);
  --bgUtilitiesHighlight2: rgba(255, 255, 255, 0.05);
  --bgUtilitiesHighlight3: rgba(19, 8, 8, 0.4);
  --bgUtilitiesHighlight4: rgba(255, 255, 255, 0.7);
  --bgUtilitiesHighlightBrand: rgba(135, 165, 255, 0.03);

  /* Border Colors */

  --borderDefaultPrimary: rgba(255, 255, 255, 0.05);
  --borderDefaultSecondary: #34374a;
  --borderBrandDefault: #354ed8;
  --borderBrandTertiary: #161e69;
  --borderPositiveSecondary: #14ae5c;
  --borderPositiveTertiary: #009951;
  --borderDangerSecondary: #ff7d6f;
  --borderDisabledDefault: #383838;
  --borderNeutralTertiary: #767676;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html,
body {
  font-family: var(--fontInter);
  background: var(--bgDefaultPrimary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input {
  font-family: var(--fontInter);
}

/* Reset CSS */

/* Global styles */

.container {
  width: 100%;
  margin: 0 auto;
}

figure {
  display: flex;
}

body {
  height: 100vh;
  overflow: hidden;
}
button,
a {
  user-select: none;
  font-family: var(--fontInter);
}

::-webkit-scrollbar {
  display: none;
}

.xrp-unique-icon {
  font-family: "FLInterCustom";
  color: inherit !important;
}

/* Global styles */

/* Keyframes */

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quick-buy-notification {
  display: none;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  padding: 16px 8px 16px 16px;
  left: 38px;
  bottom: 38px;
  color: var(--textDefaultPrimary);
  background: var(--bgDefaultSecondary);
  border: 0.5px solid var(--borderDefaultSecondary);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  @media (max-width: 592px) {
    left: 40px;
    right: 40px;
  }

  .xrp-logo-wrapper {
    display: inline-flex;
    vertical-align: middle;
  }
  img {
    width: 16px;
    aspect-ratio: 1/1;
  }

  .status-wrapper {
    position: relative;

    .status {
      display: flex;
      align-items: center;
      gap: 4px;

      .load {
        animation: loading-rotate 0.5s linear infinite;
      }

      .success {
        display: none;
      }
    }

    .close-icon-wrapper {
      cursor: pointer;
      position: absolute;
      top: -8px;
      right: 0;
      padding: 8px;
    }
  }

  .status-message,
  .message {
    line-height: 1.2em;
    font-size: 16px;
    padding-right: 40px;
  }

  .status-message {
    font-weight: 600;
  }

  &.success-notification {
    background: var(--bgPositiveTertiary);
    border-color: var(--borderPositiveTertiary);
    color: var(--textPositiveOnPositiveTertiary);

    .load {
      display: none;
    }
    .success {
      display: flex !important;
    }
  }
}
