/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Gotham Ultra";
  src: url(../public/fonts/gotham-ultra.otf);
}

/* Font */

/* Root Variables */
:root {
  --fontGothamUltra: "Gotham Ultra";
  --fontInter: "Inter", serif;

  /* Text Colors */
  --textDefaultPrimary: #f5f5f5;
  --textDefaultTertiary: #757575;
  --textBrandDefault: #6f93fe;
  --textOnBrand: #0e0f43;
  --textOnBrandSecondary: #d0deff;
  --textPositiveDefault: #c6f5cb;
  --textPositiveSecondary: #85e0a3;
  --textPositiveOnPositive: #e3ffe7;
  --textDefaultSecondary: #d9d9d9;
  --textDangerDefault: #fcb3ad;
  --textDangerSecondary: #ff7d6f;
  --textDangerOnDanger: #fee9e7;
  --textNeutralDefault: #f3f3f3;
  --textNeutralTertiary: #cdcdcd;
  --textDisabledDefault: #757575;

  /* Background Colors */

  --bgBrandDefault: #456eeb;
  --bgBrandHover: #1f3ccd;
  --bgBrandSecondary: #253bac;
  --bgDefaultPrimary: #13131b;
  --bgDefaultPrimaryHov: #181924;
  --bgDefaultSecondary: #242534;
  --bgAccentDefault: #14b8a6;
  --bgAccentTertiary: #115e59;
  --bgNeutralSecondary: #434343;
  --bgPositiveDefault: #008043;
  --bgPositiveSecondary: #02542d;
  --bgDangerDefault: #f03330;
  --bgDisabledDefault: #34374a;
  --bgUtilitiesHighlight: rgba(255, 255, 255, 0.02);
  --bgUtilitiesHighlight2: rgba(255, 255, 255, 0.02);
  --bgUtilitiesHighlight3: rgba(255, 255, 255, 0.4);
  --bgUtilitiesHighlight4: rgba(255, 255, 255, 0.7);
  --bgUtilitiesHighlightBrand: rgba(135, 165, 255, 0.03);

  /* Border Colors */

  --borderDefaultPrimary: #242534;
  --borderDefaultSecondary: #34374a;
  --borderBrandDefault: #354ed8;
  --borderBrandTertiary: #161e69;
  --borderPositiveSecondary: #14ae5c;
  --borderDangerSecondary: #ff7d6f;
  --borderDisabledDefault: #383838;

  /* Liquidity Pools */
  --bg-primary: #17171f;
  --bg-secondary: #1e1f2a;
  --text-primary: #ffffff;
  --border-primary: #2f303e;
  --border-secondary: #3e4051;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html,
body {
  font-family: var(--fontInter);
  background: var(--bgDefaultPrimary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input {
  font-family: var(--fontInter);
}

/* Reset CSS */

/* Global styles */

.container {
  /* max-width: 1420px; */
  width: 100%;
  margin: 0 auto;
}

figure {
  display: flex;
}

body {
  height: 100vh;
  overflow: hidden;
}
button,
a {
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Global styles */
